.card {
    width: 390px;
    max-height: 680px;
    margin-left: auto;
    margin-right: auto;
    background: #FFFFFF;
    border: 1.04651px solid rgba(0, 0, 0, 0.09);
    box-shadow: 8.9125px 8.16979px 31.9364px rgba(0, 0, 0, 0.05);

    border-radius: 14.2416px;
    margin-top: 50px;

    .button {
        background: linear-gradient(92.66deg, #45319D 1.34%, #C372EF 107.89%);
        border-radius: 71.1624px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        /* identical to box height, or 24px */
        text-align: center;

        color: #FFFFFF;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 72px;
        padding-right: 72px;
        height: fit-content;
    }

    @media screen and (max-width: 1024px) {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        border: 1.04651px solid rgba(0, 0, 0, 0.09);
        box-shadow: 8.9125px 8.16979px 31.9364px rgba(0, 0, 0, 0.05);
        border-radius: 14.2416px;
    }
}


.card :global(.ant-card-body) {
    height: fit-content;
    text-align: center;
}