@import "../../../styles/extend.scss";

.profile-container {
  box-sizing: border-box;
  max-width: 450px;
  width: 100%;
  margin: 30px auto;
  text-align: center;
  padding: 25px;
  // background: linear-gradient(#f9f4fe, #f9f4fe) padding-box,
  //   linear-gradient(92.66deg, #bb52f5 1.34%, #802be1 107.89%) border-box;
  // background: rgba(50, 0, 195, 0.05);
  border-radius: 16px;
  // border: 1px solid transparent;
  border: 1px solid var(--commercial-template-blue);

  p {
    line-height: 1;
    font-family: "Manrope", sans-serif;
  }

  .name {
    font-weight: 700;
    font-size: 28px;
    color: rgba(34, 33, 36, 0.85);
    margin: 30px 0px 0px 0px;
    line-height: 1;
    text-transform: capitalize;
  }

  .phone-number,
  .address {
    font-weight: 500;
    font-size: 16px;
    color: rgba(34, 33, 36, 0.6);
    margin: 10px 0px 10px 0px;
    line-height: 1.5;
  }

  .points {
    margin: 15px;
    color: rgba(34, 33, 36, 0.85);
    font-weight: 700;
    font-size: 20px;
  }

  .buttons-container {
    button {
      border-radius: 33px;
      font-weight: 700;
      font-family: "Manrope", sans-serif;
      height: auto;
      width: max-content;
    }

    .edit-profile {
      margin-right: 20px;
      color: #ffffff;
      border: none;
      padding: 9px 16px;

      @extend .primary-button;

      &:hover {
        @extend .primary-button-hover;
      }
    }

    .change-password {
      // border: 1px solid #bb52f5;
      // background: linear-gradient(93deg, #bb52f5 1.34%, #802be1 107.89%) padding-box;
      // background-clip: text;
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
      border: 1px solid var(--button-primary-color);
      color: var(--button-primary-color);
      background-color: transparent;
      padding: 7px 16px;
    }
    @media screen and (max-width: 400px) {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 15px;
      .edit-profile {
        margin-right: 0px;
      }
    }
  }
}
