@import "../../../../styles/extend.scss";

.signout-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  .card {
    font-family: "Inter", sans-serif;
    padding: 20px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .commercial-sign-out {
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    border-radius: 58px;
    height: auto;
    padding: 7px 50px;
    width: 60%;
    text-align: center;
    @extend .primary-button;
    &:hover {
      @extend .primary-button-hover;
    }
  }
}
