@import "../../../styles/extend.scss";

.benefit-modal {
  padding-top: 20px;
  padding-bottom: 20px;

  @media screen and (max-width: 768px) {
    max-height: 97vh;
    max-width: 98vw;
  }

  .benefit-wrapper {
    @media screen and (max-width: 768px) {
      max-height: 92vh;
      overflow-y: scroll;
      overflow-x: clip;
      scroll-behavior: auto;
      max-width: 96vw;
      margin-top: 15px;
      padding-right: 5px;
    }

    display: flex;
    margin-top: 10px;
    gap: 5px;
    flex-wrap: wrap;

    .benefit-image {
      width: 250px;
      height: 250px;
      position: relative;

      @media screen and (max-width: 768px) {
        width: 85vw;
        height: 200px;
        gap: 10px;
      }

      img {
        object-fit: contain;

        @media screen and (max-width: 768px) {
          object-fit: contain;
          object-position: left;
        }
      }
    }

    .benefit-content {
      flex: 1;

      @media screen and (max-width: 768px) {
        width: 85vw;
      }

      h2 {
        font-family: var(--benefit-modal-title-font-family);
        font-weight: 700;
        font-size: var(--benefit-modal-title-font-size);
        line-height: 38px;
        margin-top: 0;
        margin-bottom: 10px;
        background: linear-gradient(
          92.66deg,
          var(--benefit-modal-button-primary-color) 1.34%,
          var(--benefit-modal-button-secondary-color) 107.89%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        display: inline-flex;

        @media screen and (max-width: 768px) {
          font-weight: 600;
          font-size: 16px;
          margin-bottom: 0;
          line-height: 22px;
        }
      }

      .description {
        font-family: var(--benefit-modal-description-font-family);
        font-weight: 400;
        font-size: var(--benefit-modal-description-font-size);
        color: var(--benefit-modal-description-text-color);
        line-height: 22px;
        @media screen and (max-width:768px) {
          font-weight: 400;
          font-size: 13px;
          line-height: 20px;
        }
      }

      .nocursor {
        cursor: none !important;
      }

      .qrCode {
        height: 75px;
        width: 75px;
        margin: auto;
      }

      .couponDetailsContainer {
        width: 95%;
        border: none;
        background: linear-gradient(92.66deg, #45319d 1.34%, #c372ef 107.89%);
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 11px 15px;
        color: var(--benefit-modal-button-text-color);
        line-height: 20px;
        gap: 15px;
        margin-top: 20px;
        text-align: left;
        cursor: pointer;

        &.commercial {
          background: var(--button-primary-color);
        }

        .discountIcon {
          font-size: 20px;
        }

        .discount {
          font-family: var(--benefit-modal-coupon-font-family);
          display: flex;
          font-weight: 700;
          font-size: var(--benefit-modal-coupon-discount-font-size);
        }

        .expiry {
          font-family: var(--benefit-modal-coupon-font-family);
          font-weight: 500;
          font-size: var(--benefit-modal-coupon-expiry-font-size);
        }

        a {
          color: white;
          line-height: 20px;
          font-family: "Inter", sans-serif;
          font-weight: 500;
          font-size: 16px;
        }

        @media screen and (max-width: 768px) {
          width: 85%;
        }
      }

      .registerContainer {
        display: flex;
        flex-direction: row;
        // @media screen and (max-width:768px) {
        //   flex-direction: column;
        // }
      }

      .registerNftStampContainer {
        width: 40%;
        margin: auto;

        .title {
          margin-top: 10px;
          width: 100%;
          text-align: center;
          font-size: 14px;
          font-weight: 400;
          font-family: "Inter", sans-serif;
        }
      }

      .registerButtonContainer {
        width: 60%;
        margin: auto;
        border: none;
        // background: linear-gradient(92.66deg, #45319d 1.34%, #c372ef 107.89%);
        background: linear-gradient(
          92.66deg,
          var(--benefit-modal-button-primary-color) 1.34%,
          var(--benefit-modal-button-secondary-color) 107.89%
        );
        border-radius: 10px;
        flex-direction: row;
        align-items: center;
        padding: 11px 15px;
        color: white;
        line-height: 20px;
        gap: 15px;
        margin-top: 20px;
        text-align: center;
        text-align: center;
        align-items: center;
        cursor: pointer;
        &.commercialRegisterButton {
          background: var(--button-primary-color);
        }
      }

      .registerButtonContainerDisabled {
        // background: linear-gradient(92.66deg, #4555cdb6 1.34%, #c372ef 107.89%);
        background: linear-gradient(
          92.66deg,
          var (--benefit-modal-button-primary-color-disabled) 1.34%,
          var(--benefit-modal-button-secondary-color) 107.89%
        );

        font-weight: bold;
      }

      button:disabled {
        cursor: not-allowed;
        pointer-events: all !important;
      }
    }

    .imagenftstamp {
      margin: auto;
      margin-top: 5px;
      width: 80px;
      height: 80px;
      position: relative;

      img {
        object-fit: contain;

        @media screen and (max-width: 768px) {
          object-fit: contain;
          object-position: left;
        }
      }
    }

    .disclaimerContainer {
      flex: 0 0 100%;
      background: var(--benefit-modal-disclaimer-background-color);
      margin: 0 -24px -32px -24px;
      padding: 0 24px;
      border-radius: 0 0 8px 8px;
      font-weight: 500;
      font-size: var(--benefit-modal-disclaimer-title-font-size);

      @media screen and (max-width: 768px) {
        margin: 0;
        padding: 0 5px;
        width: 80%;
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;

        h1 {
          width: 90%;
          font-size: 16px;
          line-height: 24px;
          font-weight: 600;
        }

        ul {
          width: 85%;
        }

        li {
          width: 80%;
        }
      }
    }
  }

  &.commercial-benefit-modal {
    .benefit-content {
      h2 {
        color: var(--benefit-modal-title-color);
        -webkit-text-fill-color: unset;
      }
    }
  }
}

.anime-benefit-content {
  h2 {
    color: var(--benefit-modal-title-color) !important;
    background: none !important;
    -webkit-text-fill-color: var(--benefit-modal-title-color) !important;
    //font-family: "Kozuka-Gothic-Heavy" !important;
    font-family: var(--benefit-modal-title-font-family) !important;
  }

  .description {
    font-family: var(--benefit-modal-description-font-family) !important;
  }

  .couponDetailsContainer {
    background: var(--benefit-modal-coupon-background) !important;

    span {
      &.discount {
        font-family: var(--benefit-modal-coupon-font-family) !important;
      }

      &.expiry {
        font-family: var(--benefit-modal-coupon-font-family) !important;
      }
    }

    a {
      color: white;
      line-height: 20px;
      font-family: "Kozuka-Gothic-Heavy" !important;
      font-weight: 500;
      font-size: 16px;
    }
  }

  .registerButtonContainer {
    background: #313fae !important;
  }

  .registerButtonContainerDisabled {
    background: linear-gradient(
      92.66deg,
      #4555cdb6 1.34%,
      #70bdea 107.89%
    ) !important;
    font-weight: bold;
  }

  .title {
    font-size: 14px;
    font-weight: 400;
    font-family: "Kozuka-Gothic-Heavy" !important;
  }
}

.anime-benefit-modal {
  :global {
    .ant-modal-close {
      top: 5px;
      right: 3px;
    }
  }
}

.benefit-ribbon {
  font-family: "Kozuka-Gothic-Heavy" !important;
  background: #313fae;
  color: #fff;
  padding: 6px 10px;
  margin-bottom: 15px;

  button {
    font-family: "Kozuka-Gothic-Heavy" !important;
    background: #fff;
    border: none;
    cursor: pointer;
    padding: 2px 8px;
    border-radius: 10px;
  }
}

.confirmation-text {
  font-size: 16px;
  font-weight: bold;

  span {
    font-size: 12px;
  }
}

.offer-confirmation-modal {
  :global {
    .ant-modal-footer {
      .ant-btn-primary {
        color: #fff !important;
        background: var(--button-primary-color) !important;

        &:hover {
          background: var(--button-primary-color) !important;
        }
      }
    }
  }
}
