@import "../../../../styles/extend.scss";

@mixin button-styles {
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  margin: auto;
  border-radius: 58px;
  height: auto;
  padding: 7px 50px;
  width: 100%;
  @extend .primary-button;
  &:hover {
    @extend .primary-button-hover;
  }
}

.reset-password {
  height: 100vh;
  display: flex;
  place-items: center;
  :global(.ant-result) {
    box-shadow: 0 2px 12px 0 rgb(0 0 0/15%);
    max-width: 450px;
    margin: auto;
    width: 90%;
  }
  form {
    box-shadow: 0 2px 12px 0 rgb(0 0 0/15%);
    border-radius: 5px;
    padding: 20px;
    max-width: 450px;
    width: 90%;
    margin: 0 auto;
    h1 {
      text-align: center;
      margin-top: 0;
      line-height: 1;
    }
    button {
      width: 100%;
    }
  }
  .reset-password-btn {
    @include button-styles;
  }
  .back-button {
    @include button-styles;
    width: 77%;
  }
}
