.benefits-wrapper {
  h2 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    background: linear-gradient(92.66deg, #45319d 1.34%, #c372ef 107.89%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    margin: 0;
  }
  p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #1f1f1f;
    margin: 0;
    margin-top: 10px;

    .content {
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: #1f1f1f;
      margin: 0;
      margin-top: 10px;
    }
  }
}

.jap-wrapper {
  // background: url("../../../public/images/blue-bg.jpg") repeat center center !important;
  padding-bottom: 60px !important;
  p {
    font-family: "Kozuka-Gothic-Bold";
    font-weight: 600;
    margin-top: -15px;
    margin-bottom: 10px;

    .content {
      font-family: "Kozuka-Gothic-Bold";
      font-weight: 600;
      margin-top: -15px;
      margin-bottom: 10px;
    }
  }
  &:before {
    display: none;
    content: "";
    background: url("../../../public/images/benefit-vector.svg") no-repeat
      center center;
    width: 400px;
    height: 400px;
    position: absolute;
    right: 40px;
    bottom: -53px;
  }
}

.benefits-heading {
  background: url("../../../public/images/black-bg.jpg") repeat center center;
  width: 100%;
  height: 37px;
  font-family: var(--benefits-heading-font-family);
  font-weight: 700;
  font-size: var(--benefits-heading-font-size);
  color: var(--benefits-heading-font-color);
  line-height: 37px;
}
