.audioPlayer {
  max-width: 400px;
  width: 100%;
  box-shadow: none;
  background: none;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #222124;
  opacity: 0.88;
  margin: auto;

  @media screen and (max-width: 1024px) {
    width: 100%;
    max-width: none;
  }
}

.audioPlayer {
  font-family: "Inter", sans-serif;
  :global {
    .rhap_main-controls-button {
      margin: 0 3px;
      // color: #FFFFFF;
      font-size: 35px;
      width: 35px;
      height: 35px;
      // background: linear-gradient(92.66deg, #45319D 1.34%, #C372EF 107.89%);
    }
    .rhap_main {
      // margin-right: auto;
      // margin-left: auto;
      align-self: center;
      width: 100%;
      max-width: 450px;
    }
    // .rhap_repeat-button {
    //   svg {
    //     path {
    //       fill: black;
    //     }
    //   }
    // }
    // .rhap_volume-bar-area {
    //   .rhap_volume-bar {
    //     background: black;
    //   }
    // }
    // .rhap_volume-container {
    //   svg {
    //     path {
    //       fill: black
    //     }
    //   }
    // }
    .rhap_main {
      position: relative;
    }
    .rhap_repeat-button {
      width: 20px;
      svg {
        width: 100%;
      }
    }
    .rhap_time {
      font-size: 12px;
    }
    .rhap_progress-bar  {
      background: #D9D9D9;
    }
    .rhap_progress-filled {
      background: linear-gradient(92.66deg, #45319D 1.34%, #C372EF 107.89%);
    }
    .rhap_progress-indicator {
      background: #45319D;
      transform: scale(0);
      transition: transform .14s ease-in;
    }
    .rhap_volume-button {
      margin-right: 0;
    }
    .rhap_volume-container {
      position: relative;
      flex: 0 1 0px;
      transition: all .2s ease-in;
      &:hover {
        flex: 0 1 100px;
        .rhap_volume-bar-area {
          width: 65px;
          opacity: 1;
        }
      }
    }
    .rhap_volume-bar-area {
      position: absolute;
      width: 0px;
      right: 0;
      opacity: 0;
      transition: all .2s ease-in;
    }
    .rhap_skip-button {
      svg {
        path {
          fill: black;
        }
      }
    }
    .rhap_time {
      position: absolute;
      margin-top: 40px;
    }
    .rhap_total-time {
      right: 0;
    }
    .rhap_progress-container {
      margin: 0;
      &:hover {
        .rhap_progress-indicator {
          transform: scale(1);
        }
      }
    }
    .rhap_controls-section {
      margin-top: 20px;
    }
    .rhap_play-pause-button {
      width: 70px;
      height: 70px;
      position: relative;
      &:before {
        content: "";
        width: 58px;
        height: 58px;
        border-radius: 100%;
        background: none;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        z-index: -1;
        box-shadow: 0 0 0 6px rgba(69, 49, 157, 0.3);
      }
      svg {
        width: 100%;
        height: 100%;
        path {
          // fill: linear-gradient(92.66deg, #45319D 1.34%, #C372EF 107.89%);
          fill: #45319d;
        }
      }
    }
  }
  &.commercial{
    :global{

    .rhap_play-pause-button {
      svg{
        path{
          fill: var(--commercial-template-blue);
        }
      }
    }
  }
  }
}

.container {
  background: linear-gradient(
    180deg,
    #ffffff -3.08%,
    #ffffff 103.65%,
    #f2daff 103.65%
  );
  box-shadow: 12px 11px 43px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  width: 400px;
  padding: 20px;
  // margin: 0 auto;
  @media screen and (max-width: 1024px) {
    width: calc(100% - 40px);
    margin-left: 0;
  }

  .song-image {
    position: relative;
    margin-bottom: 20px;
    margin-top: 10px;
    .songImage {
      width: 150px;
      height: 150px;
      margin: auto;
      display: block;
      border-radius: 20px;
      object-fit: cover;
    }
  }
}

.nextSong {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #b5b3b9;
  // height: 24px;
  text-align: right;
  padding-right: 25px;
  padding-top: 25px;

  .p {
    .b {
      color: #222124;
    }
  }
}

.songTitle {
  text-align: center;

  .h1 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #222124;
  }

  .h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;

    color: #222124;

    opacity: 0.88;
  }
}
