$desktop-extra-large:                      1599px;
$desktop-large:                            1399px;
$desktopPlusOne:                           1200px;
$desktop:                                  1199px;
$desktop-small:                            1024px;
$tablet:                                   991px;
$mobile:                                   767px;
$mobile-small:                             575px;
$mobile-smallPlusOne:                      576px;